<!DOCTYPE html>
<html>
    <head>
        <title>Registration Application</title>
    </head>
    <body>
        <h1>Welcome to the School Database Registration/Search System</h1>
        <br>
        <form action="/submit_registration">
            <label for="action">What action do You wish to Complete: </label>
                <select id="action" name="action">
                    <option id = "blank" value="blank"></option>
                    <option id= "register" value="register">Register</option>
                    <option id="search" value="search">Search</option>
                    <option id="leave" value="leave">Leave</option>
                </select>
                <br>
                <input type="submit" value="submit"/>
        </form>      
        
    </body>
</html>

