<!DOCTYPE html>
<html>
    <head>
        <title>Search</title>
    </head>
    <body>
        <form action="/search_type">
            <label for="action">Type of Information You Wish to See</label>
            <select for="action" name="action">
                <option name="blank" value="blank"></option>
                <option name="public" value="public">Public</option>
                <option name="private" value="private">Private</option>
            </select>
            <input type="submit" value="submit">
        </form>
    </body>
</html>